@import url('https://fonts.cdnfonts.com/css/bm-space');
@import url('https://fonts.cdnfonts.com/css/faktos');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
    vertical-align: baseline;
    font-family:sans-serif;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(220 , 12%, 10%);
    /* background-color: hsl(220, 11%, 17%); fundo claro*/
    overflow-y: hidden;
    
}

nav {
    display: flex;
    height: 4rem;
    margin-top: 1rem;
    
    .logo{
        color: hsl(270, 60%, 45%);
        font-size: 2rem;
        font-weight: 700;
        font-family: "Outfit", sans-serif;
        margin: auto;
    }

    ul {
        display: flex;
        margin: auto;
        list-style: none;
        gap: 1rem;

        a {
            text-decoration: none;
            color: hsl(211, 15%, 73%);
            font-size: 1rem;
            font-weight: 600;
            font-family: "Inter", sans-serif;
            border: none;
            border-radius: 12px;
            padding: 12px;
            transition: all 0.2s;
        }
        a:hover {
            color: hsl(211, 15%, 80%);
            background-color: hsl(220, 11%, 17%);
        }
        
        a:active {
            color: hsl(211, 15%, 80%);
            background-color: hsl(220, 11%, 27%);
        }
    }
    
    li {
        text-decoration: none;
    }
}

.welcome-text{
    font-family: 'Outfit', sans-serif;
    margin-top: 4rem;
    margin-left: 4rem;
    color: hsl(0, 0%, 90%);
    font-size: 3rem;
    font-weight: 600;
}

main{
    margin-top: 10vh;
}

/*USER LIST */
#users-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-card {
    width: 20rem;
    background-color: hsl(220, 11%, 17%);
    margin: 12px;
    padding: 16px;
    border-radius: 8px;
    
    h3,p {
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        font-family: "Outfit", sans-serif;
        font-weight: 600;
        color: hsl(211, 15%, 73%);
    }
    h3{
        font-size: 1.2rem;
        margin-bottom: 6px;
    }
    :nth-child(3){
        margin-bottom: 12px;
    }
    :nth-child(5){
        margin-left: 16px;
    }

    span{
        font-family: "Inter",sans-serif;
        font-weight: 400;

    }
    .delete_btn, .edit_btn{
        i{
            font-size: 1.2rem;
            margin-right: 4px;
        }
    }
    .delete_btn{
        color: hsl(0, 65%, 50%);
    }
    .edit_btn{
        color: hsl(240, 45%, 50%);
    }
}
/* BUTTON TEMPLATE */
button{
    background-color: transparent;
    font-size: 1rem;
    font-family: "Outfit",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;

}

/*FORMS*/
.form-container{
    display: flex;
    justify-content: center;
}
#form-add, #form-edit{
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 8px;
    padding: 16px;
    background-color: hsl(220, 11%, 17%);
    
    label{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: hsl(211, 15%, 80%);
        padding: 4px 0px 0px 8px;
    }
    input{
        width: auto;
        font-family: "Outfit", sans-serif;
        padding: 8px;
        margin: 8px;
        color: hsl(220 , 12%, 10%);
        background-color: hsl(211, 15%, 80%);
        border-radius: 8px;
    }
    button{
        background-color: hsl(240, 45%, 50%);
        color: hsl(220 , 12%, 90%);
        width: fit-content;
        padding: 12px 24px;
        align-self: center;
        transition: all 0.2s;
        margin-top: 24px;
        
    }
    button:hover{
        background-color: hsl(240, 45%, 40%);
        color: hsl(220 , 12%, 60%);
    }
    button:active{
        background-color: hsl(240, 45%, 30%);
        color: hsl(220 , 12%, 75%);
    }

}